/*estas son como variables de css que puedes usar en todo el codigo si asi quieres*/
:root{
  --bg: #000000;
  --muted:#94a3b8;
}
/*esto es para que el margen y el padding de todos los elementos sea 0 y el box-sizing sea border-box para que el tamaño de los elementos sea mas facil de manejar*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#menu{
  background-color: #000000;
  padding-top: 3rem;
}
header{
  display:flex; 
  justify-content: center;
  background-color: #000000;
}

/*nav ul es para la barra de navegacion  especificamente ul*/
nav ul {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    list-style: none;/* property is used to control the appearance of list item markers (such as bullets or numbers) in HTML lists (<ul> or <ol>).*/
    padding: 0;
    margin: 0;
}

/*nav ul li es para los elementos de la barra de navegacion especificamente li*/
nav ul li {
    margin: 0 30px;
}

/*agregar fuente a elementos de li*/
li{
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    color: azure;
    font-style: normal;
    font-size: 30px;
}

/*es para la transicion de movimiento esa clase menu esta solo en los li del nav*/
.menu:hover
{
    transform: scale(1.5);/*hace una escala*/
    transition: all 0.5s;/*transition es para regular el movimiento o animacion de los elementos*/
}

/*nav ul li a es para los enlaces de la barra de navegacion especificamente a*/
nav ul li a {
    color: white;/*color del texto*/
    text-decoration: none;/*quitar el subrayado de los enlaces*/
    font-size: 22px;
    padding: 8px 16px;
    border-radius: 40rem;
    transition: background 0.3s;/*transition es para regular el movimiento o animacion de los elementos*/
}

/*nav ul li a:hover es para los enlaces de la barra de navegacion especificamente a cuando se pasa el mouse por encima*/
/*hover es para cuando se pasa el mouse por encima*/
nav ul li:hover {
    background: #059212;/*color de fondo cuando se pasa el mouse por encima*/
    opacity: 0.8;/*opacidad del fondo cuando se pasa el mouse por encima*/
    border-radius: 3rem;
}

#resumen{
  display: flex;
  align-items: center;
  padding: 2rem 8rem 2rem 8rem;
  border-width: 10px;
  border-color: rgb(140, 189, 85);
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background: radial-gradient(circle at top left, #9BEC00, #059212);
  font-family:"Google Sans";
  font-optical-sizing: auto;
  font-weight: 400;
}
body{
  background: radial-gradient(circle at top left,var(--bg), #ffffff );
  color: white;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.timeline-container{
  width:100%;
  max-width:1288px;
  padding: 40px 20px;
  margin: auto;
  background-color: #000000;
  border-radius: 3rem;
}

.timeline{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #000000;
  border-radius: 2rem;
  position: relative;
  z-index: 1;
}
/*insertar contenido decorativo o funcional antes del contenido de un elemento seleccionado, sin modificar el HTML*/
.timeline::before{ 
  content:"";
  position:absolute;
  transition: 0.4s ease;
  top: 5rem;
  z-index: -1; 
  left:50%;
  transform:translateX(-50%);
  width:4px;
  height:100%;
  background: linear-gradient(
    90deg,
    #9BEC00,
    #06D001,
    #059212
  );
  border-radius: 4px;
  height: calc(100% - 80px);
}

.node{
  width:85px;
  height:85px;
  border-radius:50%;
  background: radial-gradient(circle,#9BEC00,#059212);
  display:flex;
  align-items:center;
  justify-content:center;
  position: relative;
  z-index: 2;
  transition: .3s ease;
  box-shadow:
    0 0 15px rgb(5, 146, 18),
    0 4px 12px rgba(0,0,0,0.4);

}

.node:hover{
  transform:scale(1.1);
  box-shadow: 0 0 30px rgb(5, 146, 18);
}

.node::after{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  border-radius:50%;
  background: rgb(5, 146, 18);
  opacity:0;
  transform: scale(0.5);
  transition:.4s;
}

.node:hover::after{
  opacity:0.5;
  transform: scale(1.4);
}

/*Scalable Vector Graphics) en CSS es un formato de imagen vectorial basado en XML que define gráficos 2D, escalables a cualquier tamaño sin perder calidad*/

.node svg {
  width:28px;
  height:28px;
  stroke:#fff;
  clear: both;
}

/* Logica de "espejo" para los elementos pares */
/* Si el item es par, la carta va a la izquierda y la imagen a la derecha */
.item:nth-child(even) .card{
  left:auto;
  right:70%;
}


.card{
  position:absolute;
  top:50%;
  left:65%;
  transform: translateY(-50%);
  width:320px;
  background: rgba(20,25,40,0.9);
  border-radius:16px;
  padding:20px;
  backdrop-filter: blur(12px);
  box-shadow:
    0 8px 24px rgb(6, 208, 1);

  opacity:0;
  visibility:hidden;
  transition:.35s ease;
  z-index: 2;/*Asegurar que la carta esté siempre encima*/
}
.card h3{
  margin-bottom:6px;
  font-size: 1.1rem;
  color:#f9f1f1;
}

.card .meta{
  font-size: .85rem;
  color: var(--muted);
  margin-bottom: 10px;
  font-style: italic;
}
.card p{
  font-size: .92rem;
  color:#fedbdb;
  line-height: 1.4;
}
.item:hover .node{
  transform:scale(1,1) translateY(-6px);
  box-shadow: 0 0 30px rgb(5, 146, 18);
  backdrop-filter: blur(12px);
}
.item:hover .card{
  opacity:1;
  visibility:visible;
}

/*@media en CSS sirve para aplicar estilos específicos condicionalmente, permitiendo que el diseño de un sitio web se adapte (responsive design) a diferentes dispositivos como móviles, tabletas u ordenadores*/
@media(max-width:700px){

  .timeline::before{
    left:30px;
  }

  .item{
    justify-content:flex-start;
    padding-left:70px;
  }

  .card{
    position: relative;
    left:0;
    right:0;
    top:20px;
    transform:none;
  }
}

.item{
  position: relative;
  width:100%;
  display:flex;
  justify-content:center;
}

.item .card {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all .3s ease;
}

.item:hover .card {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* estilo base para la imagen (por defecto a la izquierda) */
.node-image {
  position: absolute;
  top: 180%;
  right: 60%; /* la empuja a la izquierda del centro */
  transform: translateY(-50%) scale(0.9);
  width: 40rem; 
  height: auto;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 0; /* Por debajo de la carta (que tiene z-index 1) */
  pointer-events: none; /* Evita que la imagen bloquee el mouse */
}

/* Cuando el mouse pasa sobre el item, se muestra la imagen */
.item:hover .node-image {
  opacity: 0.6; /* Un poco de transparencia ayuda a que se vea "atrás" */
  transform: translateY(-50%) scale(1);
}

.item:nth-child(even) .node-image {
  right: auto;
  left: 50%; /* La empuja a la derecha del centro */
}

button#footer {
  position: fixed;
  bottom: 20px;
  right: 10px;
  padding: 10px 50px;
  font-size: 2rem;
  background: radial-gradient(circle at top left,#059212,#9BEC00 );
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Google Sans', sans-serif;
}